* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**/

.app {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

.sidebar {
    background-color: #1a1d27;
    padding: 20px;
    flex-shrink: 0; /*makes the side bar never shrink*/
    position: sticky; /*when scrolling inside main... side bar never moves*/
    width: 300px;
    top: 0; /*without this sticky won't work, its telling where to stick*/
}

.main {
    background-color: #0f1117;
    padding: 20px 50px;
    flex: 1; /*takes up all the remaining space after the sidebar*/
    overflow-y: auto; /*creates a scrollbar when needed*/
}

.logo {
    display: flex; /*to make the logo and "myAccess" be next to each other*/
    padding: 0px 0px 20px;
}

.logo-img {
    width: 22px;
    height: 22px;
    filter: invert(1);
}

.logo-text {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.section-label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: #84889e;
    letter-spacing: 1px;
}

.sidebar a {
    padding: 6px 12px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 4px;
}

.sidebar a:hover {
    background-color: #2a2f47;
    color: #4f8ef7;
}

.sidebar a.active {
    background-color: #1e3a6e;
    color: #4f8ef7;
}

.top-navigation {
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 31px;
}

.search-bar {
    margin-top: 1px;
    margin-left: 1px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #0f1117;
    color: white;
    border: 1px solid #84889e;
    width: 250px;
}

.search-bar:focus {
    margin-top: 0px;
    margin-left: 0px;
    outline: none;
    border: 2px solid #4f8ef7;
    background-color: #0f1117;
}

/**/