* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: white;
}

.sidebar {
    background-color: #1a1d27;
    padding: 20px;
    flex-shrink: 0; /*makes the side bar never shrink*/
    position: sticky; /*when scrolling inside main... side bar never moves*/
    width: 300px;
    top: 0; /*without this sticky won't work, its telling where to stick*/
}

.main {
    background-color: #0f1117;
    padding: 20px 50px;
    flex: 1; /*takes up all the remaining space after the sidebar*/
    overflow-y: auto; /*creates a scrollbar when needed*/
}

.logo {
    display: flex; /*to make the logo and "myAccess" be next to each other*/
    padding: 0px 0px 20px;
}

.logo-img {
    width: 22px;
    height: 22px;
    filter: invert(1);
}

.logo-text {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.section-label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #84889e;
    letter-spacing: 1px;
}

.sidebar a {
    padding: 6px 12px;
    display: block;
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 4px;
}

.sidebar a:hover {
    background-color: #2a2f47;
    color: #4f8ef7;
}

.sidebar a.active {
    background-color: #1e3a6e;
    color: #4f8ef7;
}

.header {
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 30px;
}

.search-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center
}

.search-bar {
    height: 36px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #0f1117;
    color: white;
    border: 1px solid #84889e;
    width: 250px;
}

.search-bar:focus {
    outline: 1px solid #4f8ef7;
    background-color: #0f1117;
}

.filter {
    margin-left: 10px;
    text-decoration: none;
    color: #84889e;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #84889e;
}

.filter:hover {
    margin-left: 10px;
    background-color: #2a2f47;
    border: 1px solid #2a2f47;
    outline: 1px solid #2a2f47;
    color:#4f8ef7;
}

.header-line {
    border: none;
    border-top: 1px solid #84889e;
    margin-top: 26px;
}

/* below code is for each account row displayed in the website
   including the table-header (title, username, type, and date) */

.table {
    display: flex;
    flex-direction: column;
}

.table-header {
    display: flex;
    padding: 10px 16px;
}

.table-header p, 
.account-row p {
    flex: 1;
}

.space {
    width: 32px;
}

.account-row {
    display: flex;
    padding: 16px 16px;
    border-bottom: 1px solid #2a2f47;
    font-size: 14px;
}

.account-row:hover {
    box-shadow: inset 0 -1px 0 #84889e;
}

.checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #84889e;
    border-radius: 4px;        /* slightly rounded square */
    cursor: pointer;           /* shows hand cursor on hover */
    margin-right: 16px;
}

.checkbox:checked {
    background-color: #4f8ef7;
    border-color: #4f8ef7;
}

.checkbox:checked::after {
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    margin: 1px auto;
}

.table-header p {
    font-size: 13px;
    color: #84889e;
    font-weight: 100;
}


.username,
.date {
    color: #84889e;
}

.type {
    font-size: 13px;
    color: #4f8ef7;
}

.type span {
    padding: 2px 10px;
    border-radius: 14px;
    border: 1px solid #4f8ef7;
}

.selected {
    background-color: #2a2f47;
    box-shadow: inset 0 -1px 0 #84889e;
}

/**/